:root {
    --color-one-: #5AB2FF;
    --color-two-: #A0DEFF;
    --color-three-: #CAF4FF;
    --color-four-: #FFF9D0;

    --color-five-: #4D869C;
    --color-six-: #7AB2B2;
    --color-day-text-: #EEF7FF;
    --color-eight-: #CDE8E5;

    --color-nine-: #fff;
    --color-ten-: #000;

    --color-extra1-: #31363F;
    --color-extra2-: #222831;

    /* --color-12- :#F6F5F2; */
    --color-12- :#F6F5F2;
}

body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; }

.web_wrapper {
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}

.web_wrapper .webnav_wrapper {
    width: 100%;
    position: fixed;
    padding: 80px 70px;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    /* box-shadow: 2px 2px 2px solid #000; */
    border-bottom: 1px solid #e4e4e4;
}

.web_wrapper .webnav_wrapper .weblogo_wrapper {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}

.web_wrapper .webnav_wrapper .weblogo_wrapper .weblogoimg_wrapper {
    width: 100px;
    height: 100px;
    transition: all 0.3s;
}

.web_wrapper .webnav_wrapper .webname_wrapper {
    /* border: 1px solid #000; */
    width: 30%;
    height: 100%;
}

.web_wrapper .webnav_wrapper .webname_wrapper #webnameh3_wrapper {
    transition: all 0.3s;
    display: flex;
    margin-left: 5px;
    align-items: center;
}

.web_wrapper .webnav_wrapper .webnavlink_wrapper {
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    /* border: 1px solid #000; */
    justify-content: center;
    align-items: center;
    list-style: none;
}

.web_wrapper .webnav_wrapper .webnavlink_wrapper .webnavlinkactive_wrapper {
    border-bottom: 2px solid rgb(0, 48, 0);
    transform: scale(1.03);
    color: #858585;
}

.web_wrapper .webnav_wrapper .webnavlink_wrapper a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    /* transition: all 0.1s; */
}

.web_wrapper .webnav_wrapper .webnavlink_wrapper a:hover {
    border-bottom: 2px solid rgb(0, 48, 0);
    transform: scale(1.03);
    color: #858585;
}

.hover {
    border-bottom: 2px solid rgb(0, 48, 0);
    transform: scale(1.03);
    color: #858585;
}

.web_wrapper .webnav_wrapper .weblogin_wrapper {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
}

.web_wrapper .webnav_wrapper .weblogin_wrapper #webloginbtn_wrapper, #websignupbtn_wrapper {
    border: none;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    transition: all 0.2s;
    color: #fff;
    background-color: rgb(2, 63, 2);
}


.web_wrapper .webnav_wrapper .weblogin_wrapper #webloginbtn_wrapper:hover, #websignupbtn_wrapper:hover {
    border-bottom: 2px solid rgb(0, 48, 0);
    /* transform: scale(1.03); */
    color: #858585;
    background-color: transparent;
}


/* WEB FOOTER */

.webfooter_wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 0;
    border: 1px solid #000;
    background-color: #f7f7f7;
    /* background-color: #4D869C; */
}

.webfooter_wrapper .webfooterimg_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 98%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.webfooter_wrapper .webfooterimg_wrapper .webfooterbackimg_wrapper {
    opacity: 0.4;
    width: 400px;
    height: 400px;
}

.webfooter_wrapper .webfootermid_wrapper {
    border: 1px solid #000;
    display: flex;
}

.webfooter_wrapper .webfootermid_wrapper .webfootermiditem_wrapper {
    border: 1px solid #000;
    margin: 1px;
    width: 20%;
    height: 300px;
}

.webfooter_wrapper .webfooterfoot_wrapper {
    text-align: center;
}
